:root {
    --bg-color: #424242;
    --bg-color-item: #303030;
    --font-color-item: #399E92;
    --font-color-title: #AAAAAA;
}

table {
    background: var(--bg-color);
    margin: 0 auto;
    width: 100%;
    table-layout: fixed;
}

.group-title {
    color: var(--font-color-title);
    font-size: 2.5em;
    background: transparent;
    padding: 1em;
}

a {
    text-decoration: none;
    font-size: 2.5em;
    color: var(--font-color-item);
}

/*平板竖屏*/
@media screen and (orientation: landscape) and (min-device-width: 700px) {
    .group-title {
        color: var(--font-color-title);
        font-size: 1em;
        background: transparent;
        padding: 1em;
    }
    a {
        text-decoration: none;
        font-size: 1em;
        color: var(--font-color-item);
    }
}

/*PC*/
@media screen and (orientation: landscape) and (min-device-width: 1080px) {
    .group-title {
        color: var(--font-color-title);
        font-size: 2em;
        background: transparent;
        padding: 1em;
    }
    a {
        text-decoration: none;
        font-size: 2em;
        color: var(--font-color-item);
    }
}

th {
    background: var(--bg-color-item);
    padding: 2.5em;
}