body {

}

table {
    background: #424242;
    margin: 0 auto;
    width: 100%;
    table-layout: fixed;
}

.group-title {
    color: white;
    font-size: 1.2rem;
    background: #424242;
}

a {
    text-decoration: none;
    font-size: 1rem;
    color: #399E92;
}

th {
    background: #303030;
    padding: 1rem;
}