:root {
    --bg-color: #424242;
    --bg-color-item: #303030;
    --font-color-item: #399E92;
    --font-color-title: #AAAAAA;

    --font-size: 2.5em;
}

body {
    background: var(--bg-color);
}

table {
    margin: 0 auto;
    width: 100%;
    table-layout: fixed;
}

.group-title {
    color: var(--font-color-title);
    font-size: var(--font-size);
    background: transparent;
    padding: 1em;
}

a {
    text-decoration: none;
    font-size: var(--font-size);
    color: var(--font-color-item);
}

td {
    text-align: center;
    background: var(--bg-color-item);
    padding: var(--font-size);
}

@media screen and (min-device-width: 1080px) {

    :root {
        --font-size: 1.5em;
    }

}

@media screen and (max-device-width: 1080px) and (min-device-width: 720px) {

    :root {
        --font-size: 2em;
    }

}