:root {
    --font-size-item: 2.5em;
    --font-size-title: 2.5em;
}

body {

}

table {
    background: #424242;
    margin: 0 auto;
    width: 100%;
    table-layout: fixed;
}

.group-title {
    color: #aaaaaa;
    font-size: var(--font-size-title);
    background: #424242;
    padding: 1em;
}

a {
    text-decoration: none;
    font-size: var(--font-size-item);
    color: #399E92;
}

/*平板竖屏*/
@media screen and (orientation: landscape) and (min-device-width: 700px) {
    a {
        text-decoration: none;
        font-size: 1em;
        color: #399E92;
    }
}

/*PC*/
@media screen and (orientation: landscape) and (min-device-width: 1080px) {
    a {
        text-decoration: none;
        font-size: 2em;
        color: #399E92;
    }
}

th {
    background: #303030;
    padding: 2.5em;
}