body {

}

table {
    background: #424242;
    margin: 0 auto;
    width: 100%;
    table-layout: fixed;
}

.group-title {
    color: #aaaaaa;
    font-size: 3em;
    background: #424242;
    padding: 1em;
}

a {
    text-decoration: none;
    font-size: 3em;
    color: #399E92;
}

th {
    background: #303030;
    padding: 3em;
}